/*________________________________________________________________*/
/*|                         Banner/Div                           |*/
/*|______________________________________________________________|*/

.cupom-section
{
	background-image: url(https://wallpapercave.com/wp/wp1895641.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: scale-down;
	height: 600px;
}
.cupom-section-interno
{
	max-width: 1000px;
	margin: 0 auto;
}

/*________________________________________________________________*/
/*|                        Texto/Imagem                          |*/
/*|______________________________________________________________|*/

.prim-linha-cupom 
{
	display: flex;
	flex-direction: row;
}
.prim-linha-cupom h1 
{
  	text-transform: uppercase; 
  	font-size: 30px;
}
.imagemMiniCupom
{
  	width: 220px;
  	margin: auto 80px auto 0;
  	
}
.texto-prim-linha
{
  	font-size: 20px;
	margin: 10px 100px;
  	padding: 0;
}
.conteudo-texto-prim-linha 
{
  	padding: 0 10px 0 0; 
  	font-size: 18px;
}
.texto-prim-linha a
{
	text-decoration: none;
  	background-color: rgba(242 , 242 , 242 , 0.8);
  	padding: 8px;
  	border: solid 2px #F266C1;
  	border-radius: 15px 0;
  	text-transform: uppercase;
    margin: 0 0 23px 0;
  	font-size: 17px;
  	color: #000;
  	font-family: 'Oswald', sans-serif;
}
.texto-prim-linha a:hover
{
  	background-color: rgba(242 , 242 , 242 , 1);
  	border-radius: 0;
    transition: 0.8s;
  	transform: scale(1.1);
  	padding: 10px;
  	font-size: 19px;
}

/*________________________________________________________________*/
/*|                        Cards/Cupons                          |*/
/*|______________________________________________________________|*/

.segu-linha-cupom
{
  	margin: 20px 0 0 0;
	display: flex;
	flex-direction: row;
  	align-items: center;
}
.cards-cupom
{
  	text-decoration: bold;
  	border-radius: 15px 0;
  	background-color: rgba(242 , 242 , 242 , 0.8);
  	text-align: center;
	line-height: 20px;
  	margin: 0 auto;
	max-width: 200px;
  	border: solid 2px #F266C1;
}
.cards-cupom h1 
{
  	color: #F266C1F; 
  	font-size: 30px;
  	margin: 10px 0;
}
.texto-bottom-cupom , .validade-cupom 
{
  	font-size: 12px; 
  	margin:0;
}
.validade-cupom 
{
  	border-bottom: dashed 4px #000;
  	padding: 0 0 10px 0;
}
.codigo-cupom 
{
  padding: 10px 0; 
  font-size: 20px; 
  color: #000;
}
